body{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

h1, h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

footer{
    font-weight: 500;
}

#id .figuras figure{
    display: inline-block;
}
